{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto p-8 mt-10 bg-white rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-center text-primary-color mb-6">
    Change Password
  </h1>

  <form method="POST" class="space-y-6">
    {% csrf_token %}

    <div>
      <label for="old_password" class="block text-gray-700">Old Password</label>
      <input
        type="password"
        name="old_password"
        class="w-full border border-gray-300 p-2 rounded"
        required
      />
    </div>

    <div>
      <label for="new_password" class="block text-gray-700">New Password</label>
      <input
        type="password"
        name="new_password"
        class="w-full border border-gray-300 p-2 rounded"
        required
      />
    </div>

    <div>
      <label for="confirm_password" class="block text-gray-700"
        >Confirm New Password</label
      >
      <input
        type="password"
        name="confirm_password"
        class="w-full border border-gray-300 p-2 rounded"
        required
      />
    </div>

    <div class="flex justify-between">
      <button type="submit" class="bg-green-400 text-white px-4 py-2 rounded">
        Change Password
      </button>
      <a
        href="{% url 'profile_view' %}"
        class="text-gray-500 hover:text-gray-700"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock %}
