{% extends 'base.html' %}

{% block title %}Campaign Details{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto p-8 mt-10 bg-white rounded-lg shadow-md">
 <div class="flex items-center justify-between mb-6">
  <h1 class="text-3xl font-bold text-center text-primary-color">{{ campaign.name }}</h1>
  {% if user.role == 'Admin' %}
  <a href="{% url 'campaigns:campaign_update' campaign.id %}" class="bg-green-400 text-white px-4 py-2 rounded">Edit</a>
  {% endif %}
 </div>
  <div class="space-y-4 flex flex-wrap gap-x-8">
    <div>
      <h3 class="font-semibold text-gray-700">Description</h3>
      <p class="text-gray-600">{{ campaign.description }}</p>
    </div>
    <!-- <div>
      <h3 class="font-semibold text-gray-700">Goal Amount</h3>
      <p class="text-gray-600">${{ campaign.goal_amount }}</p>
    </div> -->
    <div>
      <h3 class="font-semibold text-gray-700">Total Paid</h3>
      <p class="text-gray-600">${{ campaign.goal_amount }}</p>
    </div>
    <div>
      <h3 class="font-semibold text-gray-700">Created By</h3>
      <p class="text-gray-600">{{ campaign.created_by.first_name }} {{ campaign.created_by.last_name }}</p>
    </div>
    <div>
      <h3 class="font-semibold text-gray-700">Created At</h3>
      <p class="text-gray-600">{{ campaign.created_at|date:"M d, Y" }}</p>
    </div>
  </div>

  <!-- Funding Form -->
  <div class="mt-6">
   
    <form method="POST" class="space-y-4">
      <!-- {% csrf_token %}
      {{ form.amount.label_tag }}
      {{ form.amount }} -->
     <div class="flex items-center justify-between mt-6">
      
      <div class="">
        <a href="{% url 'campaigns:campaign_list' %}" class="bg-green-400 text-white px-4 py-3 rounded">Back to Routes</a>
      </div>
     </div>
    </form>
  </div>
</div>
{% endblock %}