<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .primary-color {
            color: #2D3748;
        }

        /* Darker shade for text */
        .primary-bg {
            background-color: #4A90E2;
        }

        /* Soft blue for background */
        .button-bg {
            background-color: #38B2AC;
        }

        /* Light teal for buttons */
        .button-hover {
            background-color: #319795;
        }

        /* Darker teal on hover */
    </style>
</head>

<body class="bg-gray-50 flex overflow-auto h-screen">
    <div class="flex-1">
        <img src="https://thumbs.dreamstime.com/b/fundraising-donations-charity-foundation-support-concept-diverse-people-85879948.jpg"
            class="w-full object-cover h-full" />
    </div>
    <div class="bg-white shadow-xl rounded-lg p-8 w-full max-w-lg overflow-y-auto h-full mx-auto mt-10">
        <h2 class="text-3xl font-bold text-center primary-color mb-6">Login into your account</h2>

        <form method="POST" class="space-y-6">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label class="block text-gray-700 font-semibold">Email</label>
            {{ form.username }}

            <label class="block text-gray-700 font-semibold">Password</label>
            {{ form.password }}

            <button type="submit"
                class="button-bg text-white w-full py-3 rounded font-semibold hover:button-hover transition duration-300">Log
                in</button>
        </form>

        <p class="mt-6 text-center">Don't have an account? <a href="{% url 'register' %}"
                class="primary-color font-semibold hover:text-indigo-600 transition duration-300">Register</a></p>
    </div>
</body>

</html>